@model JRSystem.Models.Referral

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Referral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferralName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferralName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferralDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferralDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReferralId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
